<div class="metadata-container">
  <!-- <div style="width: 100%" class="tables-container">
    <div
      class="table-responsive"
      *ngFor="let config of configurations$ | async"
    >
      <strong style="font-size: 1.2em;">{{ config?.title }}</strong>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th *ngFor="let dxItem of config?.dx">{{ dxItem?.label }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="section-row">
            <td  class="cursor-pointer" matRipple *ngFor="let dxItem of config?.dx" (click)="showFilter(dxItem)">{{ dxItem?.label }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->

  <div class="filter-container" >
   <!-- <app-metadata-filter [selectedItems]="selectedItems"></app-metadata-filter> -->
   <app-data-filter [unselectedItems]="programIndicators$ | async"></app-data-filter>
  </div>
</div>
