<div
  id="case-surve-container"
  class="mat-elevation-z1 section-border"
  *ngIf="!(configLoadingStatus$ | async) && !(sectionLoadingStatus$ | async)"
>
  <div class="case-container-header">
    <h2>{{ (sectionOneConfig$ | async)?.title }}</h2>
    <!-- <app-selection-filters-menu
      [section]="sectionType"
      (dataFilterEvent)="updateData($event)"
    ></app-selection-filters-menu> -->
  </div>

  <div
    class="case-items-container"
    *ngIf="
      (sectionOneConfig$ | async) &&
      (sectionOneAnalytics$ | async) as analyticsData
    "
  >
    <div
      class="case-item"
      *ngFor="let config of (sectionOneConfig$ | async)?.dx"
    >
      <p class="case-item-title">{{ config?.label }}</p>
      <span>{{ getValueFromAnalytics(config?.id, analyticsData) }}</span>
      <div class="case-progress" *ngIf="config?.percentageDx">
        <mat-progress-bar
          mode="determinate"
          value="{{
            getValueFromAnalytics(config?.percentageDx?.id, analyticsData)
          }}"
        ></mat-progress-bar
        ><i
          >{{
            getValueFromAnalytics(config?.percentageDx?.id, analyticsData) || '0.0'
          }}%</i
        >
      </div>
    </div>
  </div>
  <div
    class="case-items-container" *ngIf="!(sectionOneConfig$ | async)?.length">
    <i>No data to display in this section at moment</i>
  </div>
</div>

<div
  id="case-surve-container"
  class="mat-elevation-z1"
  *ngIf="(configLoadingStatus$ | async) || (sectionLoadingStatus$ | async)"
>
  <div style="margin-top: auto; margin-bottom: auto; text-align: center">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <i>Loading data</i>
  </div>
</div>
