.graph-maps-sction {
    margin-top: 1em;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    .graph-section {
        width: 60%;
        height: 750px;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .bottom-charts {
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 1em;
            .left-chart {
                width: 49%;
            }
            .right-chart {
                width: 49%;
            }
        }
    }
    .map-section {
        width: 35%;
        margin-left: 1em;
    }
}
.configuration-btn-container {
    width: 17%;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}