<div
  style="width: 100%"
  *ngIf="!(configLoadingStatus$ | async) && (configLoadedStatus$ | async)"
>
  <!-- <div class="configuration-btn-container">
    <button mat-stroked-button (click)="openSelectionDialog(dialogType?.metadata)">Metadata</button>
    <button mat-stroked-button (click)="openSelectionDialog(dialogType?.orgUnit)">Org unit</button>
    <button mat-stroked-button (click)="openSelectionDialog(dialogType?.period)">Period</button>
  </div> -->
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="CASE SURVEILLANCE AND TESTING">
      <app-case-surveillance-testing
        style="margin-top: 1em"
        [configuration]="config$ | async"
      ></app-case-surveillance-testing>
      <div class="graph-maps-sction">
        <div class="graph-section">
          <div class="top-chart-container">
            <app-confirmed-cases-and-deaths-section
            [configuration]="config$ | async"
          ></app-confirmed-cases-and-deaths-section>
          </div>
         
        </div>
        <div class="map-section">
          <app-map-section [configuration]="config$ | async"></app-map-section>
        </div>
      </div>
      <div class="bottom-charts">
        <div class="left-chart">
          <app-tests-conducted-and-positive-cases
            [configuration]="config$ | async"
          ></app-tests-conducted-and-positive-cases>
        </div>
        <div class="right-chart">
          <app-summary-table
            [configuration]="config$ | async"
          ></app-summary-table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="LABARATORY TESTS">
      <div style="width: 100%">
        <app-laboratory-overall-summary
          style="margin-top: 1em"
          [configuration]="config$ | async"
        ></app-laboratory-overall-summary>
        <div class="laboratory-graph-section">
          <div class="lab-graph-section">
            <app-tests-conducted-and-positive-cases
              [configuration]="config$ | async"
            ></app-tests-conducted-and-positive-cases>
          </div>
          <div class="lab-graph-section">
            <app-positive-tests-per-lab
              [configuration]="config$ | async"
            ></app-positive-tests-per-lab>
          </div>
        </div>
        <div class="bottom-chart">
          <app-tests-and-positive
            [configuration]="config$ | async"
          ></app-tests-and-positive>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div
  *ngIf="configLoadingStatus$ | async"
  class="app-content home-content"
  style="
    position: relative;
    margin-top: 200px;
    height: 100%;
    padding-top: 300px;
    text-align: center;
  "
>
  <img
    style="
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    "
    src="assets/icons/balls-5.svg"
    alt=""
  />
  <h4 style="margin-top: 10px">Discovering Dashboard</h4>
</div>
