.graph-maps-sction {
    margin-top: 1em;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .graph-section {
        width: 55%;
        // height: 750px;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .top-chart-container {
            height: 500px;
        }
       
    }
    .map-section {
        width: 44%;
        height: 500px;
    }
}
.bottom-charts {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
    .left-chart {
        width: 55%;
    }
    .right-chart {
        width: 44%;
    }
}
.configuration-btn-container {
    width: 17%;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.laboratory-graph-section {
    margin-top: 1em;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    .lab-graph-section {
        width: 49.5%;
        height: 500px;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: column; 
    } 
}
.bottom-chart {
    width: 100%;
    padding: 0;
    height: 750px; 
    margin-top: 1em;
}