#overall-summary-container {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    padding: 0 1em 1em 1em;
    // border-bottom: 2px solid lightgray;
    height: 120px;
    display: flex;
    flex-direction: column;
    .case-container-header {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.case-items-container {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .case-item {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .case-item-title {
            font-size: 1em;
            font-weight: 400;
            margin: 0 !important;
        }
        span {
            font-size: 1.2em;
            color: gray;
            font-weight: 500;
            margin-bottom: 0.2em;
        }
        .case-progress {
            width: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            mat-progress-bar {
               width: 80%;
               float: left;
               height: 10px;
            }
            i {
                margin-left: 0.2em;
                font-size: 1.2em;
            }
        }
    }
}