.summary-table-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    padding-left: 0.5em;
    .table-responsive {
        width: 90%;
        h3 {
            font-weight: 500;
        }
    }
    button {
        width: 4%;
    }
}