<div class="ccads-container mat-elevation-z1" >
  <app-graph
  [xAxisCategories]="days"
  [lineChartYAxisData]="confirmedCases"
  [barChartYAxisData]="deathCases"
  [tertiaryYaxisData]="cumulativeDeathCases"
  [chartTitle]="chartTitle"
  [leftYAxisTitle]="leftYAxisTitle"
  [rightYAxisTitle]="rightYAxisTitle"
  [rightTertiaryYAxisTitle]="rightTertiaryYAxisTitle"
></app-graph>
<div class="ccads-stats-ops">
  <div>
    <button style="float: right;" mat-icon-button><mat-icon>create</mat-icon></button>
  </div>
  
  <div class="stat-item">
    <h4>Confirmed Cases</h4>
    <p>200</p>
  </div>
  <div class="stat-item">
    <h4>Death Cases</h4>
    <p>6</p>
  </div>
  <div  class="stat-item">
    <h4>Total Death Cases</h4>
    <p>170</p>
  </div>
</div>
</div>

