<div id="case-surve-container" class="mat-elevation-z1">
  <div class="case-container-header">
    <h2>CASE SURVEILLANCE AND TESTING</h2>
    <app-selection-filters-menu
    [section]="sectionType"
    ></app-selection-filters-menu>
  </div>

  <div class="case-items-container">
    <div class="case-item">
      <p class="case-item-title">Suspected Cases</p>
      <span>200</span>
      <div class="case-progress">
        <mat-progress-bar mode="determinate" value="20">20</mat-progress-bar
        ><i>20%</i>
      </div>
    </div>
    <div class="case-item">
      <p class="case-item-title">Confirmed Cases</p>
      <span>200</span>
      <div class="case-progress">
        <mat-progress-bar mode="determinate" value="45"></mat-progress-bar
        ><i>45%</i>
      </div>
    </div>
    <div class="case-item">
      <p class="case-item-title">Recovered Cases</p>
      <span>200</span>
      <div class="case-progress">
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar
        ><i>50%</i>
      </div>
    </div>
    <div class="case-item">
      <p class="case-item-title">Mortality</p>
      <span>200</span>
      <div class="case-progress">
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar
        ><i>60%</i>
      </div>
    </div>
  </div>
</div>
