<div
  class="tcapc-container mat-elevation-z1 section-border"
  *ngIf="!(configLoadingStatus$ | async) && !(sectionLoadingStatus$ | async)"
>
  <div
    class="graph-container"
    *ngIf="sectionThreeAnalytics$ | async as analyticsData"
  >
    <app-graph
      [xAxisCategories]="(sectionThreeAnalytics$ | async)?.xAxis"
      [lineChartYAxisData]="(sectionThreeAnalytics$ | async)?.left"
      [barChartYAxisData]="(sectionThreeAnalytics$ | async)?.right"
      [chartTitle]="chartTitle"
      [leftYAxisTitle]="leftYAxisTitle"
      [rightYAxisTitle]="rightYAxisTitle"
    ></app-graph>
  </div>
  <div
    class="tcapc-stats-ops"
    *ngIf="sectionThreeAnalytics$ | async as analyticsData"
  >
    <!-- <div>
      <button style="float: right" mat-icon-button>
        <mat-icon>create</mat-icon>
      </button>
    </div> -->

    <div class="stat-item">
      <h4>Tests</h4>
      <p>{{ getLastItem(analyticsData?.left) }}</p>
    </div>
    <div class="stat-item">
      <h4>Positive cases</h4>
      <p>{{ getLastItem(analyticsData?.right) }}</p>
    </div>
    <div class="stat-item">
      <h4>Total +ve cases</h4>
      <p>{{ getTotalFromArr(analyticsData?.right) }}</p>
    </div>
  </div>
</div>

<div
  class="tcapc-container mat-elevation-z1 section-border"
  *ngIf="(configLoadingStatus$ | async) || (sectionLoadingStatus$ | async)"
>
  <div class="loading-spinner-container">
    <mat-spinner></mat-spinner>
    <i>Loading Chart</i>
  </div>
</div>

